<mat-card style="margin-top: 2em; margin-bottom: 2em; padding-top: 3em; padding-bottom: 3em; margin: auto;">
 
   <div *ngIf="isWishlistEmpty; else showElse" style="text-align: center;"> 
      <h3>
      Your wishlist is empty!!!
   </h3> 
   <h3><a [routerLink]="['/home']">Keep adding your liked products</a> </h3>
   </div>
   <ng-template #showElse>

    <div *ngFor="let wishlist of wishListItem | keyvalue">
       <div style="margin-right: 1.5em; margin-bottom: 1.5em;">
      
            <img src=" {{wishlist.key.url}}" class="img" width="150" height="90" >   
            <br>  
        
         Price : {{wishlist.key.Price}}
         <br>
        <div>
         <button (click)="remove(wishlist.key)" >Remove</button> &nbsp;
         <button (click)="moveTocart(wishlist.key)">Move to Cart</button>
      </div>
    </div>
    
    </div>
   </ng-template>
    </mat-card>
    