<div >  
    <div class=col-md-12>  
      <div [ngStyle]="{'background-image':'url('+ details.url +')'}" class="img-container">  
        <div style="padding-left: 50em; padding-top: 25em;">
          <p style="padding-left: 12em;"> Price :{{details.Price}} </p>
          <br>
         
          <button mat-raised-button class="buttonL" (click)="addtoCart()" >Add To Cart</button>
          <button mat-raised-button class="buttonR" (click)="addtoWishList()"  >Wishlist</button>
        </div>
     
    </div> 
    </div>  
  </div> 