.img-container{      
    margin:13px;      
    box-shadow: rgb(78, 72, 72) 1px 2px 8px 1px;      
    min-height: 600px;      
    min-width: 800px;      
    background-position: left;      
    background-repeat: no-repeat;      
    align-content: left;  
    background-size: 500px, 400px;    
} 

.buttonL{
    color:black;
    /* top: 15px;
    height :7em; */
    margin-top: 10px;
    height: 35px;
    width: 200px;
    /* background-color: rgb(236, 142, 173); */
margin-right: 1em; 
  }

  .buttonL:hover{
    color:white;
    background-color: rgb(52, 223, 208);
  }
  .buttonR{
    color:black;
    /* top: 15px;
    height :7em; */
    margin-top: 10px;
    height: 35px;
    width: 200px;
    /* background-color: rgb(236, 142, 173); */

  }

  .buttonR:hover{
    color:white;
    background-color: rgb(52, 223, 208);
  }