<!-- 
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="margin-left: 40px; margin-bottom: 30px;">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content> 
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
              <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field> 
      
        <mat-form-field class="example-full-width" >
          <mat-label>Password</mat-label>
          <input matInput type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <div class="example-button-row">
            <button mat-raised-button class="buttonL">Login</button>
        </div>
      </form>
      
      
      
    </mat-card-content>
    <mat-card-actions>
    

    </mat-card-actions>
  </mat-card>


  -->

  <div class="row" style="margin: auto;">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input
        type="email"
        id="email"
        class="form-control"
        ngModel
        name="email"
        required
        email
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        ngModel
        name="password"
        required
        minlength="6"
      />
    </div>
    <div>
      <br>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!authForm.valid"
      >
        {{ isLoginMode ? 'Login' : 'Sign Up' }}
      </button>
      |
      <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
        Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
      </button>
    </div>
  </form>
</div>
  </div>
